body, html {
    height: 100%;
    letter-spacing: 1px;
}

h1, h2, h3 {
  font-family: 'Playfair Display', serif;
}

a, p {
  font-family: 'Open Sans', serif;
  line-height: 1.5;
  font-size: 20px;
}

h1 {
  font-size: 500%;
  line-height: 2;
}

h2 {
  font-size: 200%;
  color: white;
}

section {
  margin: 0;
  height: 100vh;
}

footer {
  height: 15vh;
  background: #6b62ff;
}

#sketch {
  position: relative;
}

#nav-bar {
  background: #6b62ff;
  float: right;
  padding-right: 10%;
  padding-top: 3%;
}

.content {
  text-align: center;
  padding-top: 15%;
  width: 60%;
  margin: 0 auto;
}

.nav-link {
  font-size: 110%;
  text-decoration: none;
  color: white;
  padding-right: 20px;
}

.purple-section {
  background: #6b62ff;
}

.grey-section {
  background: #FAFAFA;
}


#opener {
  position: absolute;
  z-index: 3;
  color: white;
  left: 19%;
}

#logo {
  float: left;
  padding-top: 2.5%;
  padding-left: 5%;
}

#thanks {
  color: white;
}

a {
  color: #FAFAFA;
}

@media screen and (max-width: 600px) {
  section {
    height: 80vh;
  }

  h1 {
    margin-top: 80%;
    font-size: 250%;
  }

  p {
    font-size: 10px;
  }

  img {
    width: auto;
    height: auto;
  }

}
