/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  background: #ec474d;
}

#opener {
  color: white;
  height: 85vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("assets/hero-img.jpg");
  padding-top: 60px;
}

#team, #about {
  height: 70vh;
}

#end-footer {
  color: white;
}

#open-popup1 {
  background-color: #ec474d;
  border: 1px solid white;
  margin-right: 10px !important;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#open-popup2 {
  border: 2px solid #ec474d;
  background-color: #ec474d;
  color: white;
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

#open-popup1:hover, #open-popup2:hover {
  background-color: white;
  color: #ec474d;
}

.white-section {
  background-color: white;
}

.footer-icon {
  width: 20px;
  margin-left: 15px;
}

#team {
  background-color: #f5f5f5;
}

#next-gen {
  background-color: white;
  padding-left: 15px;
  padding-right: 15px;
}

#next-gen-desc {
  background-color: white;
  float: right;
  margin-top: 10px;
  padding: 10px;
  width: 50%;
  box-shadow: 20px 20px #6b62ff;
}

#logo {
  width: 200px;
}

#emily {
  background-size: cover;
  background-image: url("assets/e.jpg");
}

#genesia {
  background-size: cover;
  background-image: url("assets/g.png");
}

#omer {
  background-size: cover;
  background-image: url("assets/o.jpeg");
}

#social-footer {
  float: right;
}

.stripe {
  z-index: -1;
  height: 10vh;
}

#main-stripe {
  background-color: white;
}

h1, h2, h3 {
  font-family: "Playfair Display", serif;
  margin-bottom: 5%;
}

h3 {
  color: #ec474d;
  font-size: 30px;
}

h4 {
  font-weight: 700;
}

#submit-btn-header {
  margin-top: 20px;
  float: right;
  display: inline-block;
  width: 45%;
}

#team-title {
  margin-bottom: 30px;
}

p, a, button, h4, h5 {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 16px !important;
  line-height: 1.6;
}

a {
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

a:active {
  color: white;
  text-decoration: none !important;
}

a:visited {
  color: white;
  text-decoration: none !important;
}

.top-link {
  margin-left: 25px;
}

#top-links-structure {
  margin-top: 15px;
}

.about-pic {
  border: none;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  margin: auto;
}

.about-div {
  text-align: center;
}

.jumbotron {
  margin-bottom: 0;
  padding-left: 10%;
  padding-right: 10%;
}

.menu-option {
  color: white;
  padding-right: 20px;
}

.menu-btn {
  margin-right: 20px;
  color: white;
  background-color: #ec474d;
  border: solid white 1px;
  border-radius: 5px;
  padding-right: 8px;
  padding-left: 8px;
  padding-top: 2px;
  padding-bottom: 5px;
}

.navbar {
  background-color: #ec474d;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

a:hover {
  color: #dcdcdc;
  text-decoration: none;
}

.navbar-name, .navbar-name:active, .navbar-name:visited {
  font-family: "Playfair Display", serif;
  color: white;
  margin: 20px;
  padding-top: 20px;
  font-size: 25px;
  text-decoration: none;
}

.navbar-name:hover {
  color: white;
  text-decoration: none;
}

.navbar-brand:hover {
  color: white;
}

.collapsed {
  border: white;
}

.socials {
  width: 33px;
}

@media only screen and (max-width: 480px) {

    p {
        font-size: 12px !important;
    }

    #opener {
      background-size: cover;
    }

    #team {
      height: 175vh;
    }

    #action {
      font-size: 10px;
      padding: 15px;
    }

    #social-footer {
      float: none;
      text-align: center;
    }

    .about-div {
      padding-top: 20px;
      padding-bottom: 35px;
    }
}

@media only screen and (max-width: 480px) {

    p {
        font-size: 12px !important;
    }

    #opener {
      background-size: cover;
    }

    #team {
      height: 175vh;
    }

    #action {
      font-size: 10px;
      padding: 15px;
    }

    #social-footer {
      float: none;
      text-align: center;
    }

    .about-div {
      padding-top: 20px;
      padding-bottom: 35px;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1000px) {

  #team {
    height: 180vh !important;
  }

  .about-div {
    padding-top: 20px;
    padding-bottom: 35px;
  }
}
